---
import css from "../../styles/global.css?url";
import printcss from "../../styles/print.css?url";

import { type PageTranslations } from "@sanity/custom.sanity.types";
import { locales } from "@src/locales/consts";
import { BASE_PATH } from "@src/consts";
import { parseHref } from "@lib/helpers";
import { imageBuilder } from "@api/sanity";
import type { Image } from "sanity";

interface Props {
  title: string;
  description: string;
  seoImage?: Image;
  translations: PageTranslations;
  routeMap?: string;
  slug: string;
}

const locale = Astro.currentLocale;

const { title, description, seoImage, translations, routeMap, slug } =
  Astro.props;

// Remove the first / from the pathname, then you are left with en/fr/nl if it's a homepage
const basePathLength = BASE_PATH && BASE_PATH !== "" ? BASE_PATH.length + 1 : 1;
const pathNameAsLocale = Astro.url.pathname
  .substring(basePathLength)
  .replace("/", "");

const isHomePage = locales.includes(pathNameAsLocale);

const canonicalURL = isHomePage
  ? `${Astro.site?.origin}${BASE_PATH}/${locale}/`
  : `${Astro.site?.origin}${BASE_PATH}/${locale}${routeMap ? `/${routeMap}` : ""}/${slug}/`;
---

<!-- Global Metadata -->
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={parseHref("/favicon.ico")} />
<link rel="mask-icon" href={parseHref("/safari-pinned-tab.svg")} />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href={parseHref("/apple-touch-icon.png")}
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href={parseHref("/favicon-32x32.png")}
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href={parseHref("/favicon-16x16.png")}
/>
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="stylesheet" href=`${BASE_PATH}/fonts/fonts.css` />
<link
  rel="preload"
  href={parseHref("/fonts/Lexend-Light.woff2")}
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href={parseHref("/fonts/Lexend-Regular.woff2")}
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href={parseHref("/fonts/Lexend-Bold.woff2")}
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href={parseHref("/fonts/ContaneMediumRegular.woff2")}
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href={parseHref("/fonts/ContaneRegular.woff2")}
  as="font"
  type="font/woff2"
  crossorigin
/>

<link rel="dns-prefetch" href="https://www.googletagmanager.com/" />
<link
  href="https://www.googletagmanager.com/gtag/js?id=GTM-M8THQC6B"
  rel="preload"
  as="script"
/>

<!-- Canonical URL -->
{
  !isHomePage &&
    translations &&
    translations.length > 0 &&
    translations.map((translation) => {
      if (translation?.slug && translation.language) {
        return (
          <link
            rel="alternate"
            hreflang={translation?.language}
            href={`${Astro.site?.origin}${BASE_PATH}/${translation?.language}${routeMap ? `/${routeMap}` : ""}/${translation?.slug}/`}
          />
        );
      }
    })
}

{
  isHomePage &&
    locales.map((locale) => (
      <link
        rel="alternate"
        hreflang={locale}
        href={`${Astro.site?.origin}${BASE_PATH}/${locale}/`}
      />
    ))
}

<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta
  property="og:image"
  content={seoImage
    ? imageBuilder.image(seoImage).width(1200).height(630).url()
    : new URL("/share-image.jpg", Astro.url)}
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={seoImage
    ? imageBuilder.image(seoImage).width(1200).height(630).url()
    : new URL("/share-image.jpg", Astro.url)}
/>

<link rel="stylesheet" href={css} />
<link rel="stylesheet" href={printcss} media="print" />
