---
import type { FaqsReferenced } from "../../sanity/custom.sanity.types";
import FaqQuestion from "../uielements/FaqQuestion.astro";
import { PortableText } from "astro-portabletext";
import { defaultComponents } from "../cms-components/PortableText/helper";
interface Props {
  faq: FaqsReferenced;
}

const { faq } = Astro.props;
---

<div class:list={["relative flex flex-col xl:flex-row"]}>
  <h2
    class="top-40 mb-2 h-fit w-full text-pretty pt-3 font-serif text-3xl text-white xl:sticky xl:w-5/12 xl:pr-8"
  >
    {faq?.title}
  </h2>
  <div class="flex w-full flex-col gap-2 xl:w-7/12">
    {
      faq?.questions &&
        faq?.questions?.length > 0 &&
        faq?.questions.map((question, index) =>
          question?.question && question?.answer ? (
            <FaqQuestion
              index={index}
              headline={question?.question}
              headlineTag="h3"
            >
              <PortableText
                value={question?.answer}
                components={defaultComponents}
              />
            </FaqQuestion>
          ) : null,
        )
    }
  </div>
</div>
