---
import LogoSlant from "@components/graphicelements/LogoSlant.astro";
import Breadcrumbs from "@components/uielements/Breadcrumbs.astro";
import { PortableText } from "astro-portabletext";
import {
  defaultComponents,
  headerComponents,
} from "../cms-components/PortableText/helper";
import type { i18nImage } from "@sanity/custom.sanity.types";
import { imageBuilder } from "@api/sanity";

interface Props {
  headline?: string | any[];
  client?: string;
  text?: any;
  homepage?: boolean;
  backgroundImage?: i18nImage;
  backgroundImageAltText?: string;
}

const {
  headline,
  text,
  homepage,
  backgroundImage,
  client,
  backgroundImageAltText = "",
} = Astro.props;
---

<div
  class:list={[
    "relative pb-20 pt-10 text-white md:pb-8 lg:min-h-[520px] lg:pb-16",
    !backgroundImage && "hero-gradient",
    homepage && "md:mb-0",
    backgroundImage &&
      "bg-gradient-to-r from-blue-800 from-[33%] to-blue-800/0",
  ]}
>
  <Breadcrumbs pageTitle={headline} />

  <div class="mb-10 mt-2 text-white">
    {client && <p class="font-serif text-xl uppercase" set:html={client} />}
    <h1
      class:list={[
        "w-full text-pretty font-serif font-bold lg:w-11/12 xl:w-2/3",
        homepage ? "text-3xl md:text-4xl" : "text-3xl md:text-4xl",
      ]}
    >
      {
        Array.isArray(headline) ? (
          <PortableText components={headerComponents} value={headline} />
        ) : (
          headline
        )
      }
    </h1>
  </div>
  <div class:list={["relative", homepage && "w-full xl:w-1/2"]}>
    <div class:list={["w-full text-left md:w-[80ch]", homepage && "md:w-full"]}>
      {
        text && (
          <div class="text-lg font-light md:text-xl">
            <PortableText components={defaultComponents} value={text} />
          </div>
        )
      }
      <slot />
    </div>
  </div>
  {
    backgroundImage ? (
      <img
        src={imageBuilder
          .image(backgroundImage)
          .size(1200, 800)
          .fit("clip")
          .url()}
        alt={backgroundImageAltText || ""}
        class="max-w-100vw absolute -right-1/4 top-0 -z-10 h-full w-full object-cover"
        loading="eager"
      />
    ) : (
      <div
        class:list={[
          "absolute h-auto object-cover opacity-30 lg:opacity-100",
          homepage
            ? "-right-full -top-10 -z-10 w-[400%] lg:-right-[40%] lg:-top-20 lg:w-full"
            : "-bottom-1/2 -right-full -z-10 w-[400%] md:-bottom-full md:w-[300%] lg:-right-[10%] lg:top-10 lg:w-8/12",
        ]}
      >
        <LogoSlant homepageAnimation={homepage} />
      </div>
    )
  }
</div>
