---
import ProfileCard from '@components/uielements/ProfileCard.astro';
import LogoSlant from '@components/graphicelements/LogoSlant.astro';
import { useTranslations } from '../../i18n/utils';
import { Image } from 'astro:assets';
import Breadcrumbs  from "@components/uielements/Breadcrumbs.astro";
interface Props {
    headline: string;
    client?: string;
    text?: string;
    buttonText?: string;
    homepage?: boolean;
    backgroundImage?: string;
    backgroundImageAltText?: string;
}

const { 
    headline, 
    text, 
    buttonText, 
    homepage, 
    backgroundImage,
    client,
    backgroundImageAltText = ''
} = Astro.props;

const { lang } = Astro.params;

const t = useTranslations(lang, 'home');

---
<div class:list={[
    "relative py-10 text-white pb-32 lg:pb-60", 
        !backgroundImage && "hero-gradient",
        backgroundImage && "from-blue-800 to-blue-800/0 from-[33%] from-70% bg-gradient-to-r"
    ]}>
    <Breadcrumbs />

    <div class="text-white mt-24 mb-10">
        {
            client && <p class="uppercase font-serif text-xl" set:html={client}></p>
        }
        <h1 class="font-serif text-3xl font-bold w-full md:w-2/3" 
            set:html={headline}>
        </h1>
    </div>
    <div class:list={["relative ", homepage && "grid grid-cols-1 gap-12 md:gap-6 grid-area md:grid-cols-12"]}>
        <div class:list={[" text-left w-full md:w-[80ch]", homepage && "grid-a md:w-full"]}>
            { text && 
                <p class="text-lg md:text-xl" set:html={text}></p> 
            }
            <slot />
        </div>

        { homepage &&
            <ProfileCard 
                content={t('heroprofile1.text')}
                name="name"
                title={t('heroprofile1.title')}
                profileImg='https://via.placeholder.com/50x50'
                buttonText={buttonText}
                class='grid-b animation'
            />
            
            <ProfileCard 
                content={t('heroprofile2.text')}
                name="name"
                title={t('heroprofile2.title')}
                direction='right'
                profileImg='https://via.placeholder.com/50x50'
                buttonText={buttonText}
                class='grid-c animation animation-delay'
            />
        } 
    </div>
    { 
        backgroundImage ? 
            <Image src={backgroundImage} width={1200} height={700} alt={backgroundImageAltText} 
                class="absolute top-0 -z-10 object-cover h-full w-xl -right-1/4" 
            />
        :
            <div class="absolute object-cover h-auto -top-0 opacity-30 md:opacity-100 md:top-10 -z-10 w-[400%] md:w-full -right-full md:-right-1/4">
                <LogoSlant/>
            </div>
    }
</div>

<style>
    .grid-area{ 
        grid-template-areas: 
        "a a a a a a" 
        "b b b b b b"
        "c c c c c c" 
    }
   
    .grid-a{
        grid-area: a;
    }

    .grid-b {
        grid-area: b;
    }

    .grid-c {
        grid-area: c;
    }

    .animation {
        top: 150px;
        opacity: 0;
        animation: 1000ms slide-up;
        animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
        animation-fill-mode: forwards;

        &-delay {
            animation-delay: 400ms;
        }
    }

    @media only screen and (min-width: 768px) {
        .grid-area{ 
            grid-template-areas: 
            "a a a a a a b b b b b b"
            "c c c c c c b b b b b b"
        }
    }

    @keyframes slide-up {
        from {
            top: 150px;
            opacity: 0;
        }
        to {
            top: 0%;
            opacity: 1;
        }
    }
</style>