---
import LayoutSection from "@components/uicomposition/LayoutSection.astro";
import ContentHeadline from "@components/uielements/ContentHeadline.astro";
import { PortableText } from "astro-portabletext";
import type { LongFormTextReferenced } from "@sanity/custom.sanity.types";
import { defaultComponents } from "./PortableText/helper";

interface Props {
  longFormText: LongFormTextReferenced;
}

const { longFormText } = Astro.props;
---

<LayoutSection backgroundColor={longFormText.standOut ? "light" : "dark"}>
  {
    longFormText.intro?.title && (
      <ContentHeadline headlineTag="h2">
        {longFormText.intro?.title}
      </ContentHeadline>
    )
  }

  {
    longFormText.intro?.intro && (
      <div class="mb-8">
        <PortableText
          components={defaultComponents}
          value={longFormText.intro?.intro}
        />
      </div>
    )
  }

  {
    longFormText.content && (
      <PortableText
        components={defaultComponents}
        value={longFormText.content}
      />
    )
  }
</LayoutSection>
