---
import LayoutSection from "@components/uicomposition/LayoutSection.astro";
import ContentHeadline from "@components/uielements/ContentHeadline.astro";
import { PortableText } from "astro-portabletext";
import type { LongFormTextReferenced } from "@sanity/custom.sanity.types";
import { defaultComponents } from "./PortableText/helper";

interface Props {
  longFormText: LongFormTextReferenced;
}

const { longFormText } = Astro.props;

const styles = {
  popping:
    "yellow py-6 pr-6 sm:pr-20 -mt-6 md:mr-8 relative md:absolute md:bottom-12 w-full md:w-5/12 before:shadow-xl md:h-fit before:-z-10 md:before:h-full before:bg-tertiary before:absolute before:top-0 before:bottom-0 before:right-0 marker:before:h-full before:w-[3000px] before:rounded-xl",
  subtle:
    "bg-lightest-blue-500 ml-4 -mt-8 relative shadow-xl p-8 md:absolute md:right-8 md:-bottom-20 w-11/12 md:w-8/12 rounded-xl",
};

---

<LayoutSection backgroundColor={longFormText.standOut ? "light" : "dark"}>
  {
    longFormText.intro?.title && (
      <ContentHeadline headlineTag="h2">
        {longFormText.intro?.title}
      </ContentHeadline>
    )
  }

  {
    longFormText.intro?.intro && (
      <div class="mb-8">
        <PortableText
          components={defaultComponents}
          value={longFormText.intro?.intro}
        />
      </div>
    )
  }

  {
    longFormText.content && (
      <PortableText
        components={defaultComponents}
        value={longFormText.content}
      />
    )
  }
</LayoutSection>
