---
import { getCollection } from 'astro:content';
import { i18nParams } from '../../../i18n/consts'
import Base from '@layouts/Base.astro';
import HeroHeader from '@components/HeroHeader.astro';
import Button from '@components/ui/Button.astro';
import { Image } from 'astro:assets';

const { lang } = Astro.params;

const services = (await getCollection('services'));

export function getStaticPaths() {
  return i18nParams;
}

function getPostLangAndSlug(service) {
	const [lang, ...slug] = service.slug.split('/');
	return {lang, slug}
}
---
<Base>
	<HeroHeader 
        headline="Our work"
        text="We specialize in delivering cutting-edge Customer Experience Management solutions tailored for your business."
    />
    <div class="md:mx-auto py-20">
        <div class="flex flex-wrap items-center justify-center gap-4">
            {
				services.map((service) => (
					getPostLangAndSlug(service).lang === lang &&
					<a href={`./services/${getPostLangAndSlug(service).slug}/`} >
						<div class="w-1/3 bg-light-blue-100 rounded-3xl overflow-hidden shadow-xl">
							<figure class="m-0">
								<Image class="rounded-t-2xl" width={720} height={360} src={service.data.heroImage} alt="" transition:name={service.slug} /> 
							</figure>
							<div class="flex flex-col p-4">
								<h2 class="text-bold text-3xl" transition:name={service.slug + "_title"}>{service.data.title}</h2>
								<p class="text-sm">
									{service.data.description}
								</p>
								<div class="card-actions justify-end">
									<Button>Read More</Button>
								</div>
							</div>
						</div>
					</a>
				))
			}
        </div>
    </div>	
</Base>