---
import Button from "./Button.astro";
import Link from "./Link.astro";
import type { i18nImage } from "@sanity/custom.sanity.types";
import * as m from "@src/paraglide/messages";
import { parseHref } from "@lib/helpers";
import SanityImg from "@otterstack/sanity-img-astro";
import { imageBuilder } from "@api/sanity";

interface Props {
  profileImg?: i18nImage;
  content?: string;
  name: string;
  title?: string;
  color?: "light" | "dark";
  direction?: "right" | "left";
  buttonText?: string;
  sharing?: boolean;
  s?: boolean;
  class?: string;
  [x: string]: any;
}

const {
  profileImg,
  content,
  name,
  title,
  buttonText = "Book a meeting",
  color = "dark",
  direction = "left",
  hideButton = false,
  sharing = false,
  block,
  class: className,
  ...rest
} = Astro.props;

const styles = {
  light: "bg-white",
  dark: "from-blue-600/70 to-blue-800/70 shadow-blue-200",
};

const directions = {
  left: "bg-gradient-to-r ml-16 md:ml-0 ",
  right: "bg-gradient-to-l mr-16 md:mr-0",
};

const twitterText = m.shareTwitter();
const currentPath = encodeURIComponent(Astro.url.href);
---

<div
  {...rest}
  class:list={[
    "relative mb-8 inline-block h-fit flex-col items-start justify-start rounded-2xl border border-blue p-8 text-white shadow-sm backdrop-blur-sm",
    styles[color],
    directions[direction],
    className,
  ]}
>
  {content && <p class="mb-8 text-base font-light" set:html={content} />}

  <div
    class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between"
  >
    <div class="flex items-center gap-4">
      {
        profileImg && profileImg.asset && (
          <img
            src={imageBuilder
              .image(profileImg)
              .size(120, 120)
              .fit("clip")
              .url()}
            alt={name + " " + title}
            class="h-10 w-10 rounded-full sm:h-14 sm:w-14"
            loading="eager"
          />
        )
      }
      <div class="flex flex-col justify-center gap-1">
        <p class="text-xs font-medium">{name}</p>
        <p class="text-xxs">{title}</p>
      </div>
    </div>
    {
      sharing && (
        <div class="md:gap flex items-center">
          <span class="mr-2 text-sm">{m.shareMessage()}</span>
          <Link
            id="linkedin-share-button"
            class="border-transparant rounded-full border-2 hover:border-secondary focus-visible:rounded-full"
            href="#"
          >
            <svg class="h-8 w-8 fill-white">
              <use
                xlink:href={parseHref("/icons/icon-sprite.svg#icon-linkedin")}
              />
            </svg>
            <span class="sr-only">LinkedIn</span>
          </Link>
          <Link
            id="twitter-share-button"
            class="border-transparant rounded-full border-2 hover:border-secondary focus-visible:rounded-full"
            href="#"
          >
            <svg class="h-8 w-8 fill-white">
              <use
                xlink:href={parseHref("/icons/icon-sprite.svg#icon-twitter")}
              />
            </svg>
            <span class="sr-only">X(twitter)</span>
          </Link>
        </div>
      )
    }
  </div>

  <slot />
  {
    !hideButton && (
      <Button
        class="absolute -bottom-6 right-8"
        icon="info"
        link="/contact"
        style="primary"
        color="dark"
      >
        {buttonText}
      </Button>
    )
  }
</div>

<script is:inline define:vars={{ twitterText, currentPath }}>
  const linkedIn = document.getElementById("linkedin-share-button");
  linkedIn &&
    linkedIn.addEventListener("click", function (event) {
      event.preventDefault();
      const shareUrl = `https://www.linkedin.com/sharing/share-offsite/?url=${currentPath}`;
      window.open(shareUrl, "_blank", "width=600,height=400");
    });

  const twitter = document.getElementById("twitter-share-button");
  twitter &&
    twitter.addEventListener("click", function (event) {
      event.preventDefault();
      const text = encodeURIComponent(twitterText);
      const shareUrl = `https://twitter.com/intent/tweet?url=${currentPath}&text=${text}`;
      window.open(shareUrl, "_blank", "width=600,height=400");
    });
</script>
