---
import { imageBuilder } from "@api/sanity";
import { defaultComponents } from "@components/cms-components/PortableText/helper";
import { getHrefFromLinkObject } from "@lib/sanityHelpers";
import type { TechnologiesShowcaseReferenced } from "@sanity/custom.sanity.types";
import { PortableText } from "astro-portabletext";
import { stegaClean } from "@sanity/client/stega";

interface Props {
  technologies: TechnologiesShowcaseReferenced;
}

const { technologies } = Astro.props;

const locale = Astro.currentLocale!;
---

<div
  class="fixed top-0 hidden h-0 w-0 text-balance font-serif text-3xl text-base font-light text-black text-white lg:w-9/12"
>
</div>
<div class="flex w-full flex-col items-center gap-6 text-center">
  {
    technologies.intro?.title && (
      <div
        class={`text-balance font-serif text-3xl lg:w-9/12 ${stegaClean(technologies.style) === "popping" ? "text-black" : "text-white"}`}
      >
        <PortableText
          components={defaultComponents}
          value={technologies.intro.title}
        />
      </div>
    )
  }
  {
    technologies.intro?.intro && (
      <div
        class={`text-base font-light lg:w-9/12 ${stegaClean(technologies.style) === "popping" ? "text-black" : "text-white"}`}
      >
        <PortableText
          components={defaultComponents}
          value={technologies.intro.intro}
        />
      </div>
    )
  }
  {
    technologies.technologies && technologies.technologies.length > 0 && (
      <div class="mx-auto mt-2 flex flex-wrap justify-center gap-4 sm:mt-4 sm:gap-6">
        {technologies.technologies.map((technology) => (
          <a
            class="flex min-w-40 flex-col items-center text-center transition-transform duration-300 ease-in-out motion-safe:hover:scale-105"
            href={getHrefFromLinkObject(technology.technologyLink, locale)}
          >
            <div class="flex h-16 flex-col justify-center sm:h-20">
              {technology?.logo?.default && (
                <img
                  class="max-h-16 max-w-40 opacity-80 sm:max-h-20"
                  alt={
                    stegaClean(technologies.style) === "popping"
                      ? technology?.logo?.dark?.asset.altTexts?.[locale] ||
                        technology?.logo?.default?.asset.altTexts?.[locale]
                      : technology?.logo?.light?.asset.altTexts?.[locale] ||
                        technology?.logo?.default?.asset.altTexts?.[locale]
                  }
                  src={imageBuilder
                    .image(
                      stegaClean(technologies.style) === "popping"
                        ? technology?.logo?.dark || technology?.logo?.default
                        : technology?.logo?.light || technology?.logo?.default,
                    )
                    .height(160)
                    .fit("clip")
                    .format("webp")
                    .url()}
                />
              )}
            </div>

            {technologies?.showName && technology?.name && (
              <p
                class={`mt-3 max-w-40 text-wrap font-light ${stegaClean(technologies.style) === "popping" ? "text-black" : "text-white"}`}
              >
                {technology?.name}
              </p>
            )}
          </a>
        ))}
      </div>
    )
  }
</div>
