---
import Base from "src/layouts/Base.astro";
import { i18nParams, locales } from "src/locales/consts";
import Button from "src/components/uielements/Button.astro";
import * as m from "@src/paraglide/messages";
export function getStaticPaths() {
  return i18nParams;
}
import { siteConfigQuery } from "src/api/queries";
import { loadQuery } from "src/api/sanity";
import type { SiteConfigQueryResult } from "src/sanity/sanity.types";
import type { PageTranslations } from "@sanity/custom.sanity.types";

const locale = Astro.currentLocale || Astro.preferredLocale || "en";
const { data: siteConfig } = await loadQuery<SiteConfigQueryResult>({
  query: siteConfigQuery,
  params: { language: locale },
});

const translations: PageTranslations = locales.map((locale) => ({
  slug: "404",
  language: locale,
}));
---

<Base
  title={m.fourOFourHeadline()}
  description={m.fourOFourHeadline()}
  slug="404"
  siteConfig={siteConfig}
  translations={translations}
>
  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-40 lg:px-6 lg:py-40">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1
          class="lg:text-9xl mb-4 text-4xl font-extrabold tracking-tight text-tertiary"
        >
          404
        </h1>
        <p class="mb-4 text-xl font-bold text-white md:text-4xl">
          {m.fourOFourHeadline()}
        </p>
        <p class="mb-4 text-lg font-light text-white">
          {m.fourOFourText()}
        </p>
        <Button class="mt-4 inline-block" link="/" style="primary" color="dark"
          >{m.fourOFourButton()}
        </Button>
      </div>
    </div>
  </section>
</Base>
