---
import Button from './ui/Button.astro';
import { Image } from 'astro:assets';

interface Props {
    profileImg?: string;
    content: string;
    name: string;
    title?: string;
    color?: "light" | "dark";
    direction?: "right" | "left";
    buttonText?: string;
    class?: string;
    [x: string]: any;
}

const {
    profileImg,
    content,
    name,
    title,
    buttonText = "Book a meeting",
    color = "dark",
    direction = "left",
    block,
    class: className,
    ...rest
} = Astro.props;

const styles = {
    light:
        "bg-white",
    dark:
        "from-blue-600/70 to-blue-800/70 shadow-blue-200",
};

const directions = {
    left: "bg-gradient-to-r ml-16 md:ml-0",
    right: "bg-gradient-to-l mr-16 md:mr-0",
}
---
<div
  {...rest}
  class:list={[
    "text-white relative p-8 rounded-2xl shadow border border-blue shadow-sm flex-col justify-start items-start inline-block h-fit backdrop-blur-sm",
    styles[color],
    directions[direction],
    className,
  ]}
  >
    <p class="text-base" set:html={content}></p>
    <div class="flex gap-4 mt-8 items-center">
        {profileImg && <Image loading="eager" src={profileImg} class="w-10 h-10 rounded-full sm:w-14 sm:h-14" width={50} height={50} alt={name + " " + title} /> }
        <div class="flex flex-col justify-center gap-1">
            <p class="text-base font-medium">{name}</p>
            <p class="text-sm font-medium">{title}</p>
        </div>
    </div>
    <slot />
    { buttonText && <Button class="absolute right-8 -bottom-6" icon="info" link="/contact" style="primary" color="dark">{buttonText}</Button> }
</div>