---
import type { ImageMetadata } from 'astro';

import { Image } from 'astro:assets';

interface Props {
    quote: string;
    name: string;
    jobtitle?: string;
    profileImage: string;
    class?: string;
}
const { 
    quote, 
    name, 
    jobtitle,
    profileImage, 
    class: className,
} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/people/*.{jpeg,jpg,png,gif}');
if (!images[profileImage]) throw new Error(`"${profileImage}" does not exist in glob: "src/assets/projects/*.{jpeg,jpg,png,gif}"`);
---
<div class:list={[className, "flex flex-col justify-end gap-8 mb-40 md:flex-row"]}>
    <div class="flex flex-col items-center justify-center text-white md:w-4/12 ">
        <Image class="mb-8 rounded-full aspect-square w-52 h-52" src={images[profileImage]()} alt={name} />
        <span>{name}</span>
        <span class="text-sm">{jobtitle}</span>
    </div>
    <div class="flex flex-col items-start w-full gap-8 p-12 text-lg md:w-8/12 rounded-xl bg-lightest-blue-500">
        <div class="flex items-center justify-center w-20 h-20 p-4 bg-white rounded-full">
            <svg width="40" height="30" viewBox="0 0 40 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.43633 29.8226C7.65484 29.8226 6.04036 29.3494 4.5929 28.403C3.20111 27.4565 2.08768 26.1483 1.25261 24.4781C0.417536 22.7523 0 20.776 0 18.5491C0 16.5449 0.361865 14.5964 1.08559 12.7036C1.80932 10.7551 2.83925 8.94576 4.17536 7.27561C5.56715 5.60547 7.18163 4.15801 9.01879 2.93323C10.8559 1.65279 12.8601 0.734205 15.0313 0.17749L19.3737 5.52196C16.9241 6.46838 14.9756 7.74882 13.5282 9.36329C12.0807 10.9778 11.357 12.3417 11.357 13.4552C11.357 13.9562 11.4683 14.5129 11.691 15.1253C11.9694 15.682 12.6374 16.2666 13.6952 16.879C15.087 17.7697 16.0612 18.7439 16.618 19.8017C17.1747 20.8038 17.453 21.9729 17.453 23.309C17.453 25.3132 16.7015 26.8998 15.1983 28.0689C13.6952 29.238 11.7745 29.8226 9.43633 29.8226ZM30.0626 29.8226C28.2811 29.8226 26.6667 29.3494 25.2192 28.403C23.8274 27.4565 22.714 26.1483 21.8789 24.4781C21.0438 22.7523 20.6263 20.776 20.6263 18.5491C20.6263 16.5449 20.9882 14.5964 21.7119 12.7036C22.4356 10.7551 23.4655 8.94576 24.8017 7.27561C26.1935 5.60547 27.8079 4.15801 29.6451 2.93323C31.4823 1.65279 33.4864 0.734205 35.6576 0.17749L40 5.52196C37.5504 6.46838 35.6019 7.74882 34.1545 9.36329C32.707 10.9778 31.9833 12.3417 31.9833 13.4552C31.9833 13.9562 32.0946 14.5129 32.3173 15.1253C32.5957 15.682 33.2637 16.2666 34.3215 16.879C35.7133 17.7697 36.6875 18.7439 37.2443 19.8017C37.801 20.8038 38.0793 21.9729 38.0793 23.309C38.0793 25.3132 37.3278 26.8998 35.8246 28.0689C34.3215 29.238 32.4008 29.8226 30.0626 29.8226Z" fill="#ED6C25"/>
            </svg>
        </div>
        {quote}
    </div>
</div>