---
import { i18nParams } from '../../i18n/consts'
import { useTranslations } from '../../i18n/utils';
import { Image } from 'astro:assets';
import Base from '@layouts/Base.astro';
import HeroHeader from '@components/HeroHeader.astro';
import ProjectOverview from '@components/ProjectOverview.astro'
import InsightsTeaser from '@components/InsightsTeaser.astro';
import Quote from '@components/Quote.astro';
import Highlight from '@components/Highlight.astro';
import Button from '@components/ui/Button.astro';
import painPoint from '@assets/icons/painpoint.svg';
import strategize from '@assets/icons/strategize.svg';
import design from '@assets/icons/design.svg';
import realize from '@assets/icons/realize.svg';
import optimize from '@assets/icons/optimize.svg';
import TilesContainer from '@components/TilesContainer.astro';
import SmallTile from '@components/SmallTile.astro';

export function getStaticPaths() {
	return i18nParams;
}

const { lang } = Astro.params;
const t = useTranslations(lang, 'home');
---
<Base title={t('home.title')} description={t('home.seoDescription')}>
  <HeroHeader 
      headline={t('hero.headline')}
      text={t('hero.text')}
      buttonText={t('hero.button')}
      homepage
  />

  <ProjectOverview />
  
  <TilesContainer 
    headline={t('painpoint.headline')} 
    description={t('painpoint.description')} >
    <SmallTile 
      headline={t('painpoint1.headline')} 
      description={t('painpoint1.description')} >
      <Image src={painPoint} alt="" width={80} height={80} class="w-20 h-20" />
    </SmallTile>
    <SmallTile 
      headline={t('painpoint2.headline')} 
      description={t('painpoint2.description')} >
      <Image src={painPoint} alt="" width={80} height={80} class="w-20 h-20" />
    </SmallTile>
    <SmallTile 
      headline={t('painpoint3.headline')} 
      description={t('painpoint3.description')} >
      <Image src={painPoint} alt="" width={80} height={80} class="w-20 h-20" />
    </SmallTile>
  </TilesContainer>
  
  <div class="relative flex flex-col py-20 mb-60 pl-12 before:bg-light-blue-50 before:-z-10 before:absolute before:top-0 before:bottom-0 before:left-0 marker:before:h-full before:w-[3000px] before:rounded-xl">
    <div class="flex flex-col items-start justify-between w-full gap-4 mb-8 md:mb-4 md:items-center md:flex-row">
      <h2 class="font-serif text-2xl" set:html={t('services.headline')}></h2>
      <Button link="/services" color="light">{t('services.button')}</Button>
    </div>
    <div class="flex flex-col items-start w-full gap-8 mb-12 md:w-9/12 h-fit">
      <p class="text-base text-black" set:html={t('services.descriptionP1')}></p>
      <p class="text-base text-black" set:html={t('services.descriptionP2')}></p>
    </div>
    <div class="flex flex-row flex-wrap justify-between w-full gap-8 lg:flex-row lg:flex-nowrap">
      <div class="inline-flex flex-col items-center justify-start w-full gap-8 md:w-5/12 lg:w-full">
        <Image src={strategize} alt="" width={80} height={80} class="w-20 h-20" />
        <div class="flex flex-col items-center justify-start gap-4">
          <div class="font-serif text-xl text-center " set:html={t('services1.headline')}></div>
          <div class="text-base text-center" set:html={t('services1.description')}></div>
        </div>
      </div>
      <div class="inline-flex flex-col items-center justify-start w-full gap-8 md:w-5/12 lg:w-full">
        <Image src={design} alt="" width={80} height={80} class="w-20 h-20" />
        <div class="flex flex-col items-center justify-start gap-4">
          <div class="font-serif text-xl text-center " set:html={t('services4.headline')}></div>
          <div class="text-base text-center" set:html={t('services2.description')}></div>
        </div>
      </div>
      <div class="inline-flex flex-col items-center justify-start w-full gap-8 md:w-5/12 lg:w-full">
        <Image src={realize} alt="" width={80} height={80} class="w-20 h-20" />
        <div class="flex flex-col items-center justify-start gap-4">
          <div class="font-serif text-xl text-center " set:html={t('services4.headline')}></div>
          <div class="text-base text-center" set:html={t('services3.description')}></div>
        </div>
      </div>
      <div class="inline-flex flex-col items-center justify-start w-full gap-8 md:w-5/12 lg:w-full">
        <Image src={optimize} alt="" width={80} height={80} class="w-20 h-20" />
        <div class="flex flex-col items-center justify-start gap-4">
          <div class="font-serif text-xl text-center " set:html={t('services4.headline')}></div>
          <div class="text-base text-center" set:html={t('services4.description')}></div>
        </div>
      </div>
    </div>
  </div>

  <Quote 
    quote={t('quote.text')}
    name='Johan Condijts'
    jobtitle={t('quote.title')}
    profileImage='/src/assets/people/placeholder_small.png'
    />

  <InsightsTeaser />

  <Highlight 
    title={t('highlight.headline')}
    text={t('highlight.text')}
    image='/src/assets/images/highlight.png'
    buttonText={t('highlight.button')}
    />

  <Highlight 
    title={t('highlight.headline')}
    text={t('highlight.text')}
    image='/src/assets/images/highlight.png'
    buttonText={t('highlight.button')}
    style='lightblue'
    />
</Base>