---
import { type CollectionEntry, getCollection } from 'astro:content';
import Base from '@layouts/Base.astro';
import FormattedDate from '@components/uielements/FormattedDate.astro';
import HeroHeader from '@components/uicomposition/HeroHeader.astro';
import ProfileCard from '@components/uielements/ProfileCard.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	const paths = posts.map((post) => {
		const [lang, ...slug] = post.slug.split('/');
		return { 
			params: { lang, slug: slug.join('/') || undefined }, 
			props: post 
		};
	});
	return paths;
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();

---
<Base {...post.data} 
	title={post.data.title.replace(/<\/?[^>]+(>|$)/g, "") + " - Amexio Fuse"}
	description={post.data.description}
	image={post.data.socialImage}
	overrideCanonical={post.data.canonicalURL}
	>
	<HeroHeader 
		headline={post.data.title}
		backgroundImage={post.data.heroImage} 
		backgroundImageAltText={post.data.altTextImage || ""}
		>
		<div class="mt-8 flex flex-row items-center gap-4 text-white">
			<FormattedDate class="font-serif text-base" date={post.data.pubDate} transition:name={post.slug + "_date"} />
			{
				post.data.tags && <p class="font-serif uppercase text-base before:content-['/'] before:font-sans before:mr-4 before:text-secondary">
					{post.data.tags}
				</p>
			}	
		</div>
	</HeroHeader>
	{post.data.author && 
		<ProfileCard 
			name={post.data.author}
			title={post.data.authorTitle}
			direction='right'
			profileImg={post.data.authorProfileImg}
			hideButton
			sharing
			class='-mt-8 lg:-mt-16 w-full motion-safe:animate-fade-up motion-safe:animate-delay-500'
			/> 
	} 
	<div class="prose lg:prose-xl prose-invert mx-auto">		
		<Content />
	</div>
</Base>
