---
import { getCollection } from 'astro:content';
import { i18nParams } from '../../../i18n/consts'
import Base from '@layouts/Base.astro';
import HeroHeader from '@components/uicomposition/HeroHeader.astro';
import Link from '@components/uielements/Link.astro';
import FormattedDate from '@components/uielements/FormattedDate.astro';
import { Image } from 'astro:assets';
import { useTranslations } from 'src/i18n/utils';

const { lang } = Astro.params;

const posts = (await getCollection('blog')).sort
(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

export function getStaticPaths() {
  return i18nParams;
}

function getPostLangAndSlug(post) {
	const [lang, ...slug] = post.slug.split('/');
	return {lang, slug}
}
const t = useTranslations(lang, 'blog');

---	
<Base title={t('blog.title')} description={t('blog.seoDescription')}>
    <HeroHeader 
		headline={t('hero.headline')}
		text={t('hero.subheadline')}
	/>

	<div class=" mb-40 motion-safe:animate-fade-up motion-safe:animate-delay-500">
		{
			posts.map((post, index) => (
				(getPostLangAndSlug(post).lang === lang && index == 0) &&
				<article class="group relative overflow-hidden flex flex-col md:flex-row w-full justify-stretch gap-8 has-[:focus-visible]:outline has-[:focus-visible]:outline-offset-4 has-[:focus-visible]:outline-2 has-[:focus-visible]:outline-yellow-500 bg-gradient-to-r  from-blue-600/70 to-blue-800/70 shadow-blue-200 rounded-2xl border border-blue shadow-sm backdrop-blur-sm ">
					<div class="aspect-square flex items-center justify-center shadow-xl shadow-primary/20 rounded-t-xl md:rounded-tr-none md:rounded-l-xl overflow-hidden">
						<Image loading="eager" src={post.data.heroImage} class="motion-safe:group-hover:scale-105 transition-transform ease-in-out duration-300 min-w-full min-h-full max-w-[unset] h-[unset] object-cover" loading="lazy" width={512} height={512} alt={post.data.altTextImage || ""} />
					</div> 
					<div class="mr-8 pb-8 px-8 pt-0 md:p-8 max-h-full w-full flex flex-col justify-between gap-8 text-white">
						<div class="flex flex-col gap-4">
							<h2 class="mb-2 font-serif text-xl [&>mark]:text-black"><Link class="outline-none hover:text-yellow-500 hover:underline hover:decoration-1 focus-visible:ring-0 content-none before:absolute before:inset-x-0 before:inset-y-0" href={`./${getPostLangAndSlug(post).slug}/`} set:html={post.data.title}></Link></h2>
							<p class="text-base font-light" set:html={post.data.description}></p>
						</div>
						{
							post.data.author &&
							<div class="flex gap-4 mt-8 items-center">
								{ post.data.authorProfileImg && 
									<Image loading="eager" src={post.data.authorProfileImg} class="w-10 h-10 rounded-full sm:w-14 sm:h-14" width={50} height={50} alt={post.data.author + " " + post.data.authorTitle} /> 
								}
								<div class="flex flex-col justify-center gap-1">
									<p class="text-base font-medium">{post.data.author}</p>
									<p class="text-sm font-medium">{post.data.authorTitle}</p>
								</div>
							</div>
						}
						<div class="flex flex-row items-center gap-4">
							<FormattedDate class="font-serif text-base" date={post.data.pubDate} />
							{
								post.data.tags && 
								<span class="c-post-tag font-serif uppercase text-base before:mr-4 before:text-secondary">
									{post.data.tags}
								</span>
							}
						</div>
					</div>
				</article>
			))
		}
	</div>

	<div class="motion-safe:animate-fade-up motion-safe:animate-delay-1000 relative grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 pt-20 pb-40 w-full gap-8 before:-z-10 before:bg-light-blue-50 before:absolute before:-left-[3000px] before:top-0 before:bottom-0 before:right-[1000px] marker:before:h-full before:w-[10000px] before:rounded-xl">
		{
			posts.map((post, index) => (
				(getPostLangAndSlug(post).lang === lang && index > 0) &&
				<article class="group relative flex flex-col justify-stretch has-[:focus-visible]:outline has-[:focus-visible]:outline-offset-0 has-[:focus-visible]:outline-4 has-[:focus-visible]:outline-blue-500">
					<div class="w-full min-h-[260px] flex items-center justify-center rounded-t-xl overflow-hidden">
						<Image loading="lazy" src={post.data.heroImage} class="motion-safe:group-hover:scale-105 transition-transform ease-in-out duration-300 min-w-full min-h-full shrink-0 max-w-[unset] h-[unset] object-cover" loading="lazy" width={512} height={512} alt={post.data.altTextImage || ""} />
					</div> 
					<div class="p-8 pt-6 h-full min-w-full flex flex-col gap-2 border-b-2 border-y-quaternary">
						<div class="flex flex-row items-center gap-4">
							<FormattedDate class="font-serif text-base" date={post.data.pubDate} transition:name={post.slug + "_date"} />
							{
								post.data.tags && <span class="c-post-tag font-serif uppercase text-base before:font-sans before:mr-4 before:text-secondary">
									{post.data.tags}
								</span>
							}
						</div>
						<h2 class="font-serif mb-2 text-xl [&>mark]:text-black"><Link class="outline-none hover:text-blue-500 hover:underline hover:decoration-1 content-none before:absolute before:inset-x-0 before:inset-y-0" href={`./${getPostLangAndSlug(post).slug}/`} set:html={post.data.title}></Link></h2>
						<p class="text-base font-light" set:html={post.data.description}></p>
						{
							post.data.author &&
							<div class="self-bottom flex gap-4 mt-auto pt-4 items-center">
								{post.data.authorProfileImg && <Image loading="eager" src={post.data.authorProfileImg} class="w-10 h-10 rounded-full sm:w-14 sm:h-14" width={50} height={50} alt={post.data.author + " " + post.data.authorTitle} /> }
								<div class="flex flex-col justify-center gap-1">
									<p class="text-base font-medium">{post.data.author}</p>
									<p class="text-sm font-medium">{post.data.authorTitle}</p>
								</div>
							</div>
						}
					</div>
				</article>
			))
		}
	</div>
</Base>